.superpowers/
.vscode/
.vscode-test/
.claude/
.npm-cache/
node_modules/
docs/superpowers/
scripts/
src/
tests/
foo.ts
*.vsix
*.tgz
.gitignore
.npmignore
tsconfig.json
esbuild.config.mjs
package-lock.json
